<p>
  <strong>Title:</strong>
  <%= @application.conference_name %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @application.conference_location %>
</p>

<%= link_to 'Back', controller: 'applications' %>
<%= link_to 'Create Recommendation', new_recommendation_path(:application_id => @application.id)%>