<div class="dashboard-container container">
      <div class="row-fluid">
        <div class="header">

            <%= link_to root_path do %>
              <%= image_tag "header.png", id:"header-logo" %>
            <% end %>        
                    
            <div class="header-link">
                    <%= link_to'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary'  %>   
            </div>


        </div>
      </div>



      <div class="row">
        <!--Applications-->
        <div class="col-md-8 applications-container">
          <!-- Pending Apps Header -->
          <div class="row">
            <h2 class="col-title pending-apps">Pending Applications </h2>
            <%= link_to "+", new_application_path, class: 'add-application' %>
          </div>

          <!-- Pending Apps -->
          <div class="row">
        

          </div>
        </div>

        <!--Messages/Notifications-->
        <div class="col-md-4  notifications-container">
          <h2 class="col-title">Notifications</h2>

          

        </div>
      </div>
</div>