
                <div class="container">
                  <div class="row-fluid">

                      <div id="intro-section">

                        <%= image_tag "logo.png", id:"logo" %>



                        <p class="splash-buttons">
                            <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>

                            <%= link_to'Login', new_user_session_path, class: 'btn btn-primary'   %>  
                        </p>

                      </div>
                  </div>
                </div>

