<% content_for :top_content do %>
    <div class="container">

      <div class="row-fluid">

          <div id="intro-section">

            <%= image_tag "logo.png", id:"logo" %>



            <p>
              <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>

              <% if user_signed_in? %>

                
                <%= link_to'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary'  %>        
                

              <% else %>

                <%= link_to'Login', new_user_session_path, class: 'btn btn-primary btn'   %>  


              <% end %>

            </p>

          </div>
      </div>
    </div>
<% end %>