<%= form_for :recommendation do |f| %>

	<p>
    	<%= f.label :application_recommendation %><br>
    	<%= f.text_field :application_recommendation %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>