<p>
  <strong>ID:</strong>
  <%= @recommendation.id %>
</p>
 
<p>
  <strong>Recommendation:</strong>
  <%= @recommendation.application_recommendation %>
</p>

<%= link_to 'Back', controller: 'recommendation' %>