/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container{
		width:100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	margin-left:0 !important;
	margin-right:0 !important;
}


#intro-section{
	height:100%;

	vertical-align: middle;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
}

.btn-primary{
	background-color: #fff;
    color: #2094fc;
    border-color: #2094fc;
}

.btn-primary:hover{
	background-color: #2094fc;
    color: #fff;
    border-color: #2094fc;
}


#logo{
	height:150px;
}

#header-logo{
	height: 65px;
    margin-left: 20px;
    float:left;
}

#bg-left{
	height:100%;
	width:400px;
}

.header{
	border-bottom: #D3D3D3;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    width: 100%;
    height: 67px;
}



.header-link{
	float: right;
    margin-top: 18px;
    margin-right: 18px;
}

.page-title{
    font-size: 30px;
}

.col-title{
    font-size:20px;
}

.col-title, .page-title{
    text-align: center;
    color: #2094fc;
}


.splash-buttons{
	margin-top:30px;
}

.sign-up, .log-in{
	margin-top:5%;
    text-align:center;
}

/*flash*/
.alert{
    margin-bottom:0 !important;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}

/* Dashboard */

.applications-container{
    /*background-color: rgb(20, 40, 60);*/
    height:500px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #D3D3D3;
}


.notifications-container{
    /*background-color: rgb(40,20,30);*/
    height:500px;
}

.notifications-container, .applications-container{
    text-align: center;
}







*= require bootstrap