/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container{
 		width:100%;
 		padding-left: 0 !important;
 		padding-right: 0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
 }

#intro-section{
	height:100%;

	vertical-align: middle;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
}

.btn-primary{
	background-color: #fff;
    color: #2094fc;
    border-color: #2094fc;
}

.btn-primary:hover{
	background-color: #2094fc;
    color: #fff;
    border-color: #2094fc;
}


#logo{
	height:150px;
}

#header-logo{
	height: 65px;
    margin-left: 20px;
    float:left;
}

#bg-left{
	height:100%;
width:400px;
}

.header{
	border-bottom: #D3D3D3;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    width: 100%;
    height: 67px;
}



.header-link{
	float: right;
    margin-top: 18px;
    margin-right: 18px;
}

.page-title{
	text-align: center;

        font-size: 26px;

}

.sign-up, .log-in{
	margin-top:12%;
		text-align:center;

}

*= require bootstrap